*.iml
.cxx
.DS_Store
.externalNativeBuild
.gradle
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/deploymentTargetSelector.xml
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/app/debug
/app/release
/build
/captures
/local.properties
local.properties
